.feature-section {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 8;
    margin-bottom: 3rem;
}

.info-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-text span {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #272D4E;
    padding: 2rem;
}