.button {
    width: 120px;
    height: 47px;
    background: #7854F7;
    border-radius: 5px;
    color: #fff;
    outline: none;
    border: none;
    margin-top: 10px;
}

.button:hover {
    box-shadow: 1px 3px 30px #00000085;
}